
{#contentClass}
<h2>{block #classTitle}Publikace pro studium{/block}</h2>
<table class="table table-striped class-bibliography">
    <thead>
    <tr>
        <th n:foreach="$bibliography[0] as $name => $value" class="column-{$iterations}">{$name}</th>
    </tr>
    </thead>
    <tbody>
    <tr n:foreach="$bibliography as $bibliographyOne">
        <td n:foreach="$bibliographyOne as $name => $value" class="column-{$iterations}">{$value}</td>
    </tr>
    </tbody>
</table>
{/#}