
{#contentClass}
    <div class="row class-default">
        <div class="col-md-3">
            {include schedule.latte}
        </div>
        <div class="col-md-3">
            {include conditions.latte}
        </div>
        <div class="col-md-3">
            {include works.latte}
        </div>
        <div class="col-md-3">
            {include bibliography.latte}
        </div>
    </div>
{/#}