body {
  font-size: 15px;
  line-height: 1.6;
  color: #333;
  background: white;
  padding-top: 70px;
}
h1 {
  color: #3484D2;
}
#ajax-spinner {
  margin: 15px 0 0 15px;
  padding: 13px;
  background: #ffffff url('../images/spinner.gif') no-repeat 50% 50%;
  font-size: 0;
  z-index: 123456;
  display: none;
}
div.flash {
  color: black;
  background: #FFF9D7;
  border: 1px solid #E2C822;
  padding: 1em;
  margin: 1em 0;
}
a[href^="error:"] {
  background: red;
  color: white;
}
form th,
form td {
  vertical-align: top;
  font-weight: normal;
}
form th {
  text-align: right;
}
form .required label {
  font-weight: bold;
}
form .error {
  color: #D00;
  font-weight: bold;
}
html.js .jshidden {
  display: none;
}
.methodologies .graph {
  margin: auto;
  position: relative;
  width: 800px;
  height: 600px;
  border: 1px solid black;
  font-family: Tahoma;
}
.methodologies .graph .axis {
  position: absolute;
  background-position: middle center;
  background-repeat: no-repeat;
  font-size: 11px;
  font-weight: bold;
}
.methodologies .graph .axis.x {
  background-size: 100% 60%;
  width: 100px;
  height: 30px;
  background-position: bottom;
}
.methodologies .graph .axis.x.right {
  background-image: url(../images/arrow_right.png);
  bottom: 1px;
  right: 1px;
  text-align: left;
}
.methodologies .graph .axis.x.left {
  background-image: url(../images/arrow_left.png);
  bottom: 1px;
  left: 1px;
  text-align: right;
}
.methodologies .graph .axis.y {
  background-size: 60% 80%;
  width: 30px;
  height: 100px;
  background-position: left 20px;
}
.methodologies .graph .axis.y.up {
  background-image: url(../images/arrow_up.png);
  top: 1px;
  left: 1px;
  text-align: left;
}
.methodologies .graph .axis.y.down {
  background-image: url(../images/arrow_down.png);
  bottom: 31px;
  left: 1px;
  text-align: right;
}
.methodologies .graph .item {
  background: #DDDDDD;
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: 2px solid red;
}
.methodologies .graph .item .name {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  margin-top: 13px;
}
.methodologies .graph .item .count {
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  border: 1px solid black;
  background: white;
  font-size: 11px;
  text-align: center;
  bottom: 2px;
  right: 2px;
}
.methodologies .graph .item .license {
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  border: 1px solid black;
  background: white;
  top: 2px;
  right: 0px;
}
.methodologies .graph .item .license.open {
  background-image: url(../images/open.png);
}
.methodologies .graph .item .license.close,
.methodologies .graph .item .license.free {
  background-image: url(../images/lock.png);
}
.methodologies .graph .item .license.close,
.methodologies .graph .item .license.paid {
  background-image: url(../images/dollar.png);
}
.methodologies .graph .item.formality-1 {
  border-radius: 50%;
}
.methodologies .graph .item.formality-2 {
  border-radius: 45%;
}
.methodologies .graph .item.formality-3 {
  border-radius: 40%;
}
.methodologies .graph .item.formality-4 {
  border-radius: 35%;
}
.methodologies .graph .item.formality-5 {
  border-radius: 30%;
}
.methodologies .graph .item.formality-6 {
  border-radius: 25%;
}
.methodologies .graph .item.formality-7 {
  border-radius: 20%;
}
.methodologies .graph .item.formality-8 {
  border-radius: 15%;
}
.methodologies .graph .item.formality-9 {
  border-radius: 10%;
}
.methodologies .graph .item.formality-10 {
  border-radius: 5%;
}
.methodologies .graph .item.rup {
  right: 90%;
  top: 70%;
  border-color: #e60000;
}
.methodology .part.principle .image {
  width: 100%;
}
