body {
  font-size: 15px;
  line-height: 1.6;
  color: #333;
  background: white;
  padding-top: 70px;
}
h1 {
  color: #3484D2;
}
#ajax-spinner {
  margin: 15px 0 0 15px;
  padding: 13px;
  background: #ffffff url('../images/spinner.gif') no-repeat 50% 50%;
  font-size: 0;
  z-index: 123456;
  display: none;
}
div.flash {
  color: black;
  background: #FFF9D7;
  border: 1px solid #E2C822;
  padding: 1em;
  margin: 1em 0;
}
a[href^="error:"] {
  background: red;
  color: white;
}
form th,
form td {
  vertical-align: top;
  font-weight: normal;
}
form th {
  text-align: right;
}
form .required label {
  font-weight: bold;
}
form .error {
  color: #D00;
  font-weight: bold;
}
html.js .jshidden {
  display: none;
}
.methodologies .graph,
.tools .graph {
  margin: auto;
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 500px;
  border: 1px solid black;
  font-family: Tahoma;
}
.methodologies .graph .axis,
.tools .graph .axis {
  position: absolute;
  background-position: middle center;
  background-repeat: no-repeat;
  font-size: 11px;
  font-weight: bold;
}
.methodologies .graph .axis.x,
.tools .graph .axis.x {
  background-size: 100% 60%;
  width: 100px;
  height: 30px;
  background-position: bottom;
}
.methodologies .graph .axis.x.right,
.tools .graph .axis.x.right {
  background-image: url(../images/arrow_right.png);
  bottom: 1px;
  right: 1px;
  text-align: left;
}
.methodologies .graph .axis.x.left,
.tools .graph .axis.x.left {
  background-image: url(../images/arrow_left.png);
  bottom: 1px;
  left: 25px;
  text-align: right;
}
.methodologies .graph .axis.y,
.tools .graph .axis.y {
  background-size: 60% 80%;
  width: 30px;
  height: 100px;
  background-position: left 20px;
}
.methodologies .graph .axis.y.up,
.tools .graph .axis.y.up {
  background-image: url(../images/arrow_up.png);
  top: 1px;
  left: 1px;
  text-align: left;
}
.methodologies .graph .axis.y.down,
.tools .graph .axis.y.down {
  background-image: url(../images/arrow_down.png);
  bottom: 31px;
  left: 1px;
  text-align: right;
}
.methodologies .graph .axis-desc,
.tools .graph .axis-desc {
  position: absolute;
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: middle center;
  background-size: 150px 150px;
  z-index: -1;
  opacity: 0.2;
}
.methodologies .graph .axis-desc.x,
.tools .graph .axis-desc.x {
  top: 40%;
}
.methodologies .graph .axis-desc.x.left,
.tools .graph .axis-desc.x.left {
  background-image: url(../images/development.png);
  left: 0;
}
.methodologies .graph .axis-desc.x.right,
.tools .graph .axis-desc.x.right {
  background-image: url(../images/project.png);
  right: 0;
}
.methodologies .graph .axis-desc.y,
.tools .graph .axis-desc.y {
  left: 40%;
}
.methodologies .graph .axis-desc.y.up,
.tools .graph .axis-desc.y.up {
  background-image: url(../images/agile.png);
  top: 0;
}
.methodologies .graph .axis-desc.y.down,
.tools .graph .axis-desc.y.down {
  background-image: url(../images/robust.png);
  bottom: 0;
}
.methodologies .graph.not-started .item,
.tools .graph.not-started .item {
  top: 50% !important;
  right: 50% !important;
}
.methodologies .graph .items,
.tools .graph .items {
  position: relative;
  width: 80%;
  height: 80%;
  margin: auto;
}
.methodologies .graph .items .item,
.tools .graph .items .item {
  background: #DDDDDD;
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  padding: 10px;
  border: 2px solid black;
  transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  overflow: visible;
  background-size: 100%;
}
.methodologies .graph .items .item:hover,
.tools .graph .items .item:hover {
  width: 80px;
  height: 80px;
  margin-right: -20px;
  margin-top: -20px;
  z-index: 10;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
}
.methodologies .graph .items .item:hover .name,
.tools .graph .items .item:hover .name {
  margin-top: 20px;
}
.methodologies .graph .items .item .name,
.tools .graph .items .item .name {
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 9px;
  margin-top: 9px;
  color: white;
  vertical-align: middle;
}
.methodologies .graph .items .item .count,
.tools .graph .items .item .count {
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  line-height: 14px;
  border-radius: 7px;
  border: 1px solid black;
  background: white;
  font-size: 11px;
  text-align: center;
  bottom: 2px;
  right: 2px;
}
.methodologies .graph .items .item .license,
.tools .graph .items .item .license {
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 13px;
  border: 1px solid black;
  background: white;
  background-repeat: no-repeat;
  background-position: center center;
  top: -4px;
  right: -2px;
}
.methodologies .graph .items .item .license.open,
.tools .graph .items .item .license.open {
  background-image: url(../images/open.png);
}
.methodologies .graph .items .item .license.close,
.tools .graph .items .item .license.close,
.methodologies .graph .items .item .license.free,
.tools .graph .items .item .license.free {
  background-image: url(../images/lock.png);
}
.methodologies .graph .items .item .license.close,
.tools .graph .items .item .license.close,
.methodologies .graph .items .item .license.paid,
.tools .graph .items .item .license.paid {
  background-image: url(../images/dollar.png);
}
.methodologies .graph .items .item.formality-1,
.tools .graph .items .item.formality-1 {
  border-radius: 5%;
}
.methodologies .graph .items .item.formality-2,
.tools .graph .items .item.formality-2 {
  border-radius: 10%;
}
.methodologies .graph .items .item.formality-3,
.tools .graph .items .item.formality-3 {
  border-radius: 15%;
}
.methodologies .graph .items .item.formality-4,
.tools .graph .items .item.formality-4 {
  border-radius: 20%;
}
.methodologies .graph .items .item.formality-5,
.tools .graph .items .item.formality-5 {
  border-radius: 25%;
}
.methodologies .graph .items .item.formality-6,
.tools .graph .items .item.formality-6 {
  border-radius: 30%;
}
.methodologies .graph .items .item.formality-7,
.tools .graph .items .item.formality-7 {
  border-radius: 35%;
}
.methodologies .graph .items .item.formality-8,
.tools .graph .items .item.formality-8 {
  border-radius: 40%;
}
.methodologies .graph .items .item.formality-9,
.tools .graph .items .item.formality-9 {
  border-radius: 45%;
}
.methodologies .graph .items .item.formality-10,
.tools .graph .items .item.formality-10 {
  border-radius: 50%;
}
.methodologies .graph .items .item.generality-1,
.tools .graph .items .item.generality-1 {
  right: 10%;
}
.methodologies .graph .items .item.generality-2,
.tools .graph .items .item.generality-2 {
  right: 20%;
}
.methodologies .graph .items .item.generality-3,
.tools .graph .items .item.generality-3 {
  right: 30%;
}
.methodologies .graph .items .item.generality-4,
.tools .graph .items .item.generality-4 {
  right: 40%;
}
.methodologies .graph .items .item.generality-5,
.tools .graph .items .item.generality-5 {
  right: 50%;
}
.methodologies .graph .items .item.generality-6,
.tools .graph .items .item.generality-6 {
  right: 60%;
}
.methodologies .graph .items .item.generality-7,
.tools .graph .items .item.generality-7 {
  right: 70%;
}
.methodologies .graph .items .item.generality-8,
.tools .graph .items .item.generality-8 {
  right: 80%;
}
.methodologies .graph .items .item.generality-9,
.tools .graph .items .item.generality-9 {
  right: 90%;
}
.methodologies .graph .items .item.generality-10,
.tools .graph .items .item.generality-10 {
  right: 100%;
}
.methodologies .graph .items .item.agility-1,
.tools .graph .items .item.agility-1 {
  top: 10%;
}
.methodologies .graph .items .item.agility-2,
.tools .graph .items .item.agility-2 {
  top: 20%;
}
.methodologies .graph .items .item.agility-3,
.tools .graph .items .item.agility-3 {
  top: 30%;
}
.methodologies .graph .items .item.agility-4,
.tools .graph .items .item.agility-4 {
  top: 40%;
}
.methodologies .graph .items .item.agility-5,
.tools .graph .items .item.agility-5 {
  top: 50%;
}
.methodologies .graph .items .item.agility-6,
.tools .graph .items .item.agility-6 {
  top: 60%;
}
.methodologies .graph .items .item.agility-7,
.tools .graph .items .item.agility-7 {
  top: 70%;
}
.methodologies .graph .items .item.agility-8,
.tools .graph .items .item.agility-8 {
  top: 80%;
}
.methodologies .graph .items .item.agility-9,
.tools .graph .items .item.agility-9 {
  top: 90%;
}
.methodologies .graph .items .item.agility-10,
.tools .graph .items .item.agility-10 {
  top: 100%;
}
.methodologies .graph .items .item.usability-1,
.tools .graph .items .item.usability-1 {
  background-color: #1a1a1a;
}
.methodologies .graph .items .item.usability-2,
.tools .graph .items .item.usability-2 {
  background-color: #262626;
}
.methodologies .graph .items .item.usability-3,
.tools .graph .items .item.usability-3 {
  background-color: #333333;
}
.methodologies .graph .items .item.usability-4,
.tools .graph .items .item.usability-4 {
  background-color: #404040;
}
.methodologies .graph .items .item.usability-5,
.tools .graph .items .item.usability-5 {
  background-color: #4d4d4d;
}
.methodologies .graph .items .item.usability-6,
.tools .graph .items .item.usability-6 {
  background-color: #5a5a5a;
}
.methodologies .graph .items .item.usability-7,
.tools .graph .items .item.usability-7 {
  background-color: #666666;
}
.methodologies .graph .items .item.usability-8,
.tools .graph .items .item.usability-8 {
  background-color: #737373;
}
.methodologies .graph .items .item.usability-9,
.tools .graph .items .item.usability-9 {
  background-color: #808080;
}
.methodologies .graph .items .item.usability-10,
.tools .graph .items .item.usability-10 {
  background-color: #8d8d8d;
}
.methodology p,
.tool p {
  text-align: justify;
}
.methodology p,
.tool p,
.methodology li,
.tool li {
  line-height: 160%;
}
.methodology .part,
.tool .part {
  border-top: 3px solid #655E5E;
  margin-top: 70px;
}
.methodology .part h2,
.tool .part h2 {
  margin-top: 10px;
}
.methodology .part.principle .image,
.tool .part.principle .image {
  width: 100%;
  min-height: 400px;
  max-height: 500px;
}
.methodology .part.images .image,
.tool .part.images .image {
  width: 100%;
  min-height: 400px;
  max-height: 500px;
}
.works .work {
  border-top: 1px solid #777777;
  margin-bottom: 15px;
}
.works .work .name {
  font-weight: bold;
  display: block;
}
.works .work .author {
  font-weight: bold;
  font-size: 80%;
}
.works .work .author:before {
  content: '(';
}
.works .work .author:after {
  content: ')';
}
.works .work .year {
  font-size: 90%;
}
.works .work .desc {
  display: block;
  padding-left: 20px;
  font-size: 90%;
}
.link-list {
  list-style-image: url(../images/external.gif);
}
.download-list {
  list-style-image: url(../images/download_icon.png);
}
.tools .internal-link-list {
  list-style-image: url(../images/tool.png);
}
.methodologies .internal-link-list {
  list-style-image: url(../images/arrow_circle.png);
}
.missing {
  opacity: 0.3;
}
.missing:hover {
  opacity: 1;
}
.missing a {
  color: #888888;
}
